<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops!</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">My Recipe</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
                <div data-th-if="${userLoggedIn == null}">
                    <form class="d-flex" action="/login" method="GET">
                        <button class="btn btn-outline-success mx-5" type="submit">Log In</button>
                    </form>
                </div>
                <ul class="navbar-nav" data-th-unless="${userLoggedIn == null}">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span data-th-text="${userLoggedIn}">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/account/recipe/view">View recipes</a></li>
                            <li><a class="dropdown-item" href="/account/recipe/create">Create Recipe</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" data-th-unless="${userLoggedIn == null}" action="/login/logout" method="GET">
                    <button class="btn btn-outline-danger mx-5" type="submit">Log Out</button>
                </form>
            </div>
        </div>
    </nav>
    <h1 data-th-text="${errorMsg}"></h1>
</body>
</html>